.swap-detail-container {
  color: #ffff00;
  font-size: 20px;

  h2 {
    font-size: 25px;
  }

  .swap-detail-info {
    font-size: 16px;
    margin: 10px 0;
    span {
      margin-left: 10px;
    }

    li {
      margin: 10px 20px;
    }
  }
}
